@import "../../assets/styles/index.scss";

.react-slick {
    max-width: 1248px;
    margin: 20px 10px;
    .slick-slider {
        z-index: -3;
    }
    .slick-next, .slick-prev {

    }
    .slick-next {
        right: 10px;
    }
    .slick-prev {
        left: 15px;
        z-index: 1;
    }
    .title {
        text-align: center;
        margin-bottom: 10px;
    }
    .slick-track {
        display: flex;
        gap: 10px;
    }
    @include large {
        margin: 50px auto;
    }
    .images {
        margin: auto;
        img {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 10px;
            overflow: hidden;
        }
    }

}