@import "../../assets/styles/index.scss";

.experience-details {
    max-width: 1248px;
    margin: 100px auto;
    position: relative;
    border-top: 3px solid $color-banner-color;
    min-height: 500px;
    @include medium {
        margin: 100px 20px;
    }

    &>.title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -40px;
        padding: 20px 10px;
        background: $color-white;
        border-radius: 1000px;
        color: $color-black;
    }
}